.central {
    margin: auto;
    width: 50%;
}

.central-sub {
    margin: auto;
    width: 25%;
    margin-top: 10px;
}

.bold-text {
    font-weight: bold;
}

.border-gray-background {
    border: 5px;
    border-style: groove;
    background: rgb(190, 193, 197);
    margin-top: 0px;
}

.border {
    border: 1px;
    border-style: solid;
    margin: 5px;
}

.top-margin-change {
    margin-top: 20px;
}

.little-left-margin {
    margin-left: 10px;
}

.block-display {
    display: block;
}

.little-top-margin {
    margin-top: 5px;
}

.reader-button {
    background: gray;
    margin-bottom: 5px;
}

.search-button {
    background: gray;
    margin-left: 50px;
}

.little-width-change {
    width: 60%;
}

.example-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.select-menu {
    width: 80%;
}

.inline-display {
    display: inline;
}

.inschrijving-button {
    background: gray;
    
}

.little-bottom-margin {
    margin-bottom: 5px;
}

h1 {
    color: blue;
}